<div class="content">
  <button class="content-button" (click)="navigateTo('updateaccount')">
    <div>
      <i class="fas fa-credit-card button-icon"
        style="margin-right: 10px;padding-right: 20px;border-right: 2px solid white;"></i>
      <span class="button-content">Update Account Information</span>
    </div>
    <i class="fas fa-angle-double-right button-icon" style="margin-right: 10px;"></i>
  </button>
  <button class="content-button" (click)="navigateTo('trackstatus')">
    <div>
      <i class="far fa-question-circle button-icon"
        style="margin-right: 10px;padding-right: 20px;border-right: 2px solid white;"></i>
      <span class="button-content">Track status</span>
    </div>
    <i class="fas fa-angle-double-right button-icon" style="margin-right: 10px;"></i>
  </button>
  <button class="content-button" (click)="navigateTo('activateaccount')">
    <div>
      <i class="far fa-question-circle button-icon"
        style="margin-right: 10px;padding-right: 20px;border-right: 2px solid white;"></i>
      <span class="button-content">Activate Account</span>
    </div>
    <i class="fas fa-angle-double-right button-icon" style="margin-right: 10px;"></i>
  </button>
  <button class="content-button" (click)="navigateTo('debitcardrelated')">
    <div>
      <i class="far fa-question-circle button-icon"
        style="margin-right: 10px;padding-right: 20px;border-right: 2px solid white;"></i>
      <span class="button-content">Debit Card Related</span>
    </div>
    <i class="fas fa-angle-double-right button-icon" style="margin-right: 10px;"></i>
  </button>
</div>